<h1>Username: <%= @user.username %></h1>
<h2>All Goals</h2>
<ul>
<% @goals.each do |goal| %>
  <% if goal.goal_type == "private" && current_user == @user %>
    <li><%= link_to goal.name, goal_url(goal) %>
        <% if goal.completed?%>
          Complete
        <% else %>
          Incomplete
        <% end %>
    </li>
  <% elsif goal.goal_type == "public" %>
    <li><%= link_to goal.name, goal_url(goal) %>
        <% if goal.completed?%>
          Complete
        <% else %>
          Incomplete
        <% end %>
    </li>

  <% end %>
  
  <% if current_user == @user && !goal.completed? %>
    <%= link_to "Complete Goal!", goal_complete_url(goal) %>
  <% end %>
    
<% end %>
</ul>
<h2>All comments</h2>
<ul>
<% @comments.each do |comment| %>
  <li><p><%= comment.content %></p>
      <% if current_user == comment.author %>
        <%= link_to "Edit Comment", edit_comment_url(comment) %>
      <% end %>
  </li>
<% end %>
</ul>

<h3>Add A Comment</h3>
<form action="<%= comments_url %>" method="POST">
  <input type="hidden" 
  name="authenticity_token" 
  value="<%= form_authenticity_token %>">
  
  <input type="hidden"
         name="comment[commentable_id]"
         value="<%= @user.id %>">
         
  <input type="hidden"
         name="comment[commentable_type]"
         value="User">
        
  <label for="content">Content</label>
  <textarea id="content" name="comment[content]"></textarea>
  
  <input type="submit" value="Comment!">
  
</form>


<% if current_user == @user %>
  <%= link_to "Create New Goal", new_goal_url %>
<% end %>

