<h1 class="goal_name"><%= @goal.name %></h1>
<p>
  <%= @goal.content%>
</p>
<p><%= @goal.goal_type.capitalize %> </p>
<% if @goal.completed? %>
  <%= "Complete" %>
<% else %>
  <%= "Incomplete" %>
<% end %>